.root{
  :global{
    .tabBarBox{
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: white;
      border-top: 1px solid #ddd;
      z-index: 999;
    }
  }
}